@model HomeVM
<!-- end banner -->
<!-- store -->
<div class="store">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Best Wines <span class="red">In Our Store</span> </h2>
               <p>It is a long established fact that a reader will be distracted by the readable content of a page
                  when looking at its layout. The point of using Lorem</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            @foreach (var product in Model.Prodact)
            {
               <div class="black_bg">
                  <div class="row d_flex">
                     <div class="col-md-4">
                        <div class="store_box ">
                           <figure><img src="images/@product.Title" alt="#" /></figure>
                        </div>
                     </div>
                     <div class="col-md-8">
                        <div class="store_box ">

                           <h3>@product.Description</h3>
                           <p>@product.PgotoUrl </p>
                           <a class="read_more" href="#">Read more</a>
                        </div>
                     </div>
                  </div>
               </div>
            }
         </div>
      </div>
   </div>
</div>
<!-- end store -->
<!-- about -->
<div class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>About <span class="red"> Store</span></h2>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="about_box ">
               <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour, or randomised words which don't look even slightly
                  believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                  anything embarrassing hidden in the middle of </p>
               <a class="read_more" href="#">Read more</a>
            </div>

         </div>
      </div>
   </div>
</div>
<!-- end about -->
<!-- Testimonial -->
<div id="" class="Testimonial">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Testimonial</h2>
               <span>It is a long established fact that a reader will be distracted by the readable content of a page
                  when looking at its layout. The point of using Lorem</span>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="myCarousel" class="carousel slide Testimonial_carousel" data-ride="carousel">
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="container">
            <div class="carousel-caption">
               <div class="row d_flex">
                  <div class="col-md-3">
                     <div class="Testimonial_box">
                        <i><img src="images/plan1.png" alt="#" /></i>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="Testimonial_box">
                        <h4>Den Mark</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                           a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                           more-or-less normal distribution of letters,It is a long established fact that a reader
                           will be distracted by the readable content of a page when looking at its layout. The point
                           of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="container">
            <div class="carousel-caption">
               <div class="row d_flex">
                  <div class="col-md-3">
                     <div class="Testimonial_box">
                        <i><img src="images/plan1.png" alt="#" /></i>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="Testimonial_box">
                        <h4>Den Mark</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                           a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                           more-or-less normal distribution of letters,It is a long established fact that a reader
                           will be distracted by the readable content of a page when looking at its layout. The point
                           of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="container">
            <div class="carousel-caption">
               <div class="row d_flex">
                  <div class="col-md-3">
                     <div class="Testimonial_box">
                        <i><img src="images/plan1.png" alt="#" /></i>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="Testimonial_box">
                        <h4>Den Mark</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                           a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                           more-or-less normal distribution of letters,It is a long established fact that a reader
                           will be distracted by the readable content of a page when looking at its layout. The point
                           of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                        </p>
                     </div>
                  </div>
               </div>
               </p>
            </div>
         </div>
      </div>
   </div>
   <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
   </a>
   <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
   </a>
</div>

</div>

<!-- end Testimonial -->
<!-- talk -->
<div id="talk" class="talk">
   <div class="container">
      <div class="row ">
         <div class="col-md-6 ">
            <div class="wines">
               <h3>Let’s talk for wines</h3>
               <p>It is a long established fact that a reader will be distracted by the readable content of a page
                  when looking at its layout. The point of using Lorem ere, content here', making itIt is a long
                  established fact that a reader will be distracted by the readable content of a page when looking at
                  its layout. The point of using Lorem ere, content here', making it</p>
               <h3>Free Multipurpose <br>
                  Responsive Landing Page 2019</h3>
            </div>
         </div>
         <div class="col-md-6 ">
            <form class="main_form ">
               <div class="row">
                  <div class="col-md-12 ">
                     <input class="form_contril" placeholder="Name " type="text" name="Name ">
                  </div>
                  <div class="col-md-12">
                     <input class="form_contril" placeholder="Phone Number" type="text" name=" Phone Number">
                  </div>
                  <div class="col-md-12">
                     <input class="form_contril" placeholder="Email" type="text" name="Email">
                  </div>
                  <div class="col-md-12">
                     <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                  </div>
                  <div class="col-sm-12">
                     <button class="send_btn">Send</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>